tml,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
object,
img,
em,
form,
input,
textarea,
label {
  margin : 0px;
  padding: 0px;
}

body {
  font-size        : 110%;
  color            : #272727;
  line-height      : 1.5em;
  background-color : #3a2010;
  background-image : url(../img/bg.gif);
  background-repeat: repeat;
}

img {
  border: 0;
}

.wrapper {
  width       : 100%;
  margin-right: auto;
  margin-left : auto;
  margin-top  : 10px;
}

.nav {
  height       : 32px;
  margin-top   : 15px;
  margin-bottom: 20px;
}

.nav>div {
  width           : 15%;
  display         : inline-block;
  height          : 30px;
  line-height     : 30px;
  font-size       : 18px;
  font-weight     : bold;
  background-color: peru;
}

.nav>div>a {
  display    : block;
  width      : 100%;
  height     : 30px;
  line-height: 30px;
  color      : #efd5a7;
}

.nav>a {
  display         : inline-block;
  width           : 15%;
  height          : 30px;
  line-height     : 30px;
  font-size       : 18px;
  font-weight     : bold;
  color           : #efd5a7;
  background-color: peru;
}

.nav .dropdown-menu {
  width           : 100%;
  color           : #efd5a7;
  background-color: peru;
  font-size       : 16px;
  padding         : 0px;
}

.nav .dropdown-menu li {
  cursor     : pointer;
  height     : 30px;
  line-height: 30px;
  display    : flex;
}

.nav .dropdown-menu li:hover {
  background-color: chocolate;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: chocolate;
}

.nav .prefix {
  display    : inline-block;
  width      : 10%;
  height     : 30px;
  line-height: 30px;
}

.nav .sufix {
  display    : inline-block;
  width      : 10%;
  height     : 30px;
  line-height: 30px;
}

.nav .menuItem {
  display    : inline-block;
  width      : 70%;
  height     : 30px;
  line-height: 30px;
}

.coffee_index {
  width: 30%;
}

.content {
  width        : 85%;
  margin-top   : 10px;
  margin-bottom: 15px;
  margin-right : auto;
  margin-left  : auto;
  font-size    : 24px;
  line-height  : 44px;
  color        : #efd5a7;
  font-family  : "Courier New", Courier, monospace;
}

.content .small {
  font-size: 85%;
  color    : #c9a25e;
}

.content .small p {
  letter-spacing: 0px;
  font-size     : 90%;
  line-height   : 110%;
}

.contactbox {
  width           : 240px;
  margin-right    : auto;
  margin-left     : auto;
  font-size       : 95%;
  color           : #caa35e;
  text-align      : left;
  margin-top      : 20px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #b2896a;
}

.contactbox form {
  padding-right: 5px;
  padding-left : 5px;
}

.contactbox h3 {
  color        : #EFD5A7;
  margin-top   : 8px;
  margin-bottom: 12px;
  font-family  : "Courier New", Courier, monospace;
}

input.text,
textarea.text {
  font-family     : Arial, Helvetica, sans-serif;
  color           : #333333;
  padding         : 3px;
  border          : 1px solid #666666;
  width           : 225px;
  font-size       : 95%;
  margin-bottom   : 7px;
  background-color: #f1edd2;
}

input.clear {
  background-image   : url(../img/bg_btn.gif);
  font-family        : "Courier New", Courier, monospace;
  background-repeat  : repeat-x;
  background-position: left top;
  height             : 27px;
  width              : 88px;
  background-color   : transparent;
  cursor             : pointer;
  border             : none;
  font-size          : 100%;
  font-weight        : bold;
}

input.submit {
  background-image   : url(../img/bg_btn.gif);
  font-family        : "Courier New", Courier, monospace;
  background-repeat  : repeat-x;
  background-position: left top;
  height             : 27px;
  width              : 88px;
  background-color   : transparent;
  cursor             : pointer;
  border             : none;
  font-size          : 100%;
  font-weight        : bold;
}

.footer {
  line-height  : 18px;
  color        : #796641;
  margin-top   : 8px;
  margin-bottom: 5px;
  font-size    : 70%;
  clear        : both;
  text-align   : center;
  width        : 85%;
  margin-right : auto;
  margin-left  : auto;

}

.footer p {
  font-size    : 105%;
  margin-top   : 5px;
  margin-bottom: 5px;
  color        : #ad9a7a;
}

.page_total {
  padding: 0;
  margin : 0 5px;
  height : 30px;
}

.page_total input {
  margin        : 0 3px;
  width         : 35px;
  text-align    : center;
  vertical-align: middle;
  margin-top    : -2px;
  height        : 30px;
  line-height   : 28px;
  outline       : none;
  max-height    : 30px;
}

.page_total label {
  color         : #666;
  font-weight   : inherit;
  height        : 30px;
  line-height   : 30px;
  vertical-align: middle;
  margin        : 0;
  padding       : 0;
}

.quick-list {
  background: white;
  font-size: 15px;
}

.quick-list .panel {
  height: 100vh;
  margin: 0px;
}

.quick-list .panel-heading {
  font-weight: bold;
}

.panel-body-content {
  margin: 15px 0px;
}
